<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <h3><%=pet.name%></h3>
  <img src="<%=pet.image%>">
  <p>Age: <%=pet.age%></p>
  <p>Sex: <%=pet.sex%></p>
  <p>Shelter: <%=pet.name_of_shelter%></p>
<% end %>
