<% if @shelter %>
  <h1> <%= "#{@shelter.name}'s Pets" %> </h1>
  <h2>Shelter ID: <%=@shelter.id%></h2>
<% else %>
  <h1>All Pets</h1>
<% end %>

<% @pets.each do |pet| %>
  <img src="<%=pet.image%>"><br>
  <h2><a href="/pets/<%= pet.id %>"><%=pet.name%></a></h2>
  <p>Age: <%=pet.age%></p>
  <p>Sex: <%=pet.sex%></p><br><br><br>
<% end %>
