<% if @shelter %>
  <h1> <%= "#{@shelter.name}'s Pets" %> </h1>
  <h2>Shelter ID: <%=@shelter.id%></h2>
<% else %>
  <h1>All Pets</h1>
<% end %>

<% @pets.each do |pet| %>
  <section id="pet-<%=pet.id%>">
    <div style="float:left">
      <%= image_tag("#{pet.image}", size: "300")%>
      <% if @shelter %>
       <h3><%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new"%></h3>
      <%end%>
    </div>

    <div style="float:right">
      <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}"%></h2>
      <h2>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}"%></h2>
      <p>Age: <%=pet.age%></p>
      <p>Sex: <%=pet.sex%></p>
      <h5><%= link_to "Update Pet", "/pets/#{pet.id}/edit"%></h5>
      <%= form_tag "/pets/#{pet.id}", method: :delete do %>
        <%= submit_tag(value="Delete Pet") %>
      <% end %>
      <br>
      <br>
    </div>
  </section>
<% end %>
